@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-escura: #24450c;
    --cor-clara: rgb(234, 255, 229);
    --cor-secundaria: #75e648;
}

body {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    font-family: "Roboto Slab", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: var(--cor-clara);
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 32px;
}

nav ul li ul {
    display: none;
}

nav ul li:hover ul {
    display: block;
}

main form {
    margin-top: 3em;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    border: 1px solid var(--cor-secundaria);
    padding: 10px;
    border-radius: 10px;
}

main form h3 { 
    text-align: center;
}

main form input {
    color: var(--cor-escura);
    background-color: var(--cor-secundaria);
    font-size: 2em;
    border: none;
    border-radius: 5px;
}

main form input, main form button {
    margin: 10px 0px;
}

main form button {
    background-color: var(--cor-clara);
    color: var(--cor-escura);
    border: none;
}