<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css" >
    <title>Home</title>
</head>
<body>
    <!-- Links para a pagina de login e registro -->
    <header>
        <img src="" alt="" title="">
    </header>

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>Usuários
                <ul>
                    <li>
                        <a href="/?pagina=entrar">Logar-se</a>
                    </li>
                    <li>
                        <a href="/?pagina=registrar">Registrar-se</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <main>
        
    </main>

    <footer>

    </footer>
</body>
</html>